.resetpw {
    padding-top: 100px;
    width: 100%;
    background: #3E425D;
    height: 100vh;
}

.reset__box {
    text-align: center;
    margin: 4rem auto;
    width: 100%;
    max-width: 48rem;
    background: white;
    padding: 1rem 2rem;
    border-radius: 4px;
}

.resetpw__header {
    font-size: 18px;
}

.resetpw__detail {
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}

.resetpw__link {
    display: block;
    margin-top: 0;
    text-decoration: underline;
    color: #33364c;
    margin-bottom: 40px;
}

.resetpw__input {
    width: 80%;
    font-family: ProximaNova, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 2.2rem;
    padding: 0.6rem 1rem;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    box-shadow: 0px 1px 3px 0px rgb(0 0 0 / 15%) inset;
    border: 1px solid #DADADA;
    outline: none;
    height: 50px;
    margin-top: 20px;
    display: block;
    margin: 0 auto;
    transition: all .1s linear;
}

.resetpw__input:focus {
    box-shadow: rgb(0 0 0 / 8%) 0px 1px 1px inset, rgb(102 175 233 / 60%) 0px 0px 8px;
}

.resetpw__button {
    border-radius: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: bold;
    width: 40%;
    margin: 20px auto;
    height: 50px;
    justify-content: center;
    background-color: rgb(0, 178, 247);
    padding: 20px 24px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    transition: all .15s linear;
}

.resetpw__button:hover{
    background-color: var(--color-primary-light);
}